In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.4.3'

In [13]:
df = pd.read_csv('./data/green_tripdata_2019-01.csv', nrows=1000)

In [14]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.00,3.0,0.5,0.5,0.00,0.0,NaN,0.3,4.30,2,1,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,6.0,0.5,0.5,0.00,0.0,NaN,0.3,7.30,2,1,NaN
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1,49,189,2,0.66,4.5,0.5,0.5,0.00,0.0,NaN,0.3,5.80,1,1,NaN
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1,189,17,2,2.68,13.5,0.5,0.5,2.96,0.0,NaN,0.3,19.71,1,1,NaN
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1,82,258,1,4.53,18.0,0.5,0.5,0.00,0.0,NaN,0.3,19.30,2,1,NaN

In [14]:
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)

In [6]:
from sqlalchemy import create_engine

In [7]:
engine = create_engine('postgresql://root:root@localhost:5431/ny_taxi')

In [8]:
engine.connect()

In [18]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [21]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [22]:
df = next(df_iter)

In [26]:
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)

In [27]:
df.head(0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [28]:
df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

1000

In [29]:
from time import time

In [30]:
while True:
    t_start = time()
    df = next(df_iter)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    t_end = time()
    print(f'Successfully inserted chunk! It just took {round(t_end - t_start, 4)} seconds')

Successfully inserted chunk! It just took 13.1416 seconds
Successfully inserted chunk! It just took 13.0943 seconds
Successfully inserted chunk! It just took 13.2277 seconds
Successfully inserted chunk! It just took 13.6209 seconds
Successfully inserted chunk! It just took 14.4187 seconds
Successfully inserted chunk! It just took 13.746 seconds
Successfully inserted chunk! It just took 14.1427 seconds
Successfully inserted chunk! It just took 14.3487 seconds
Successfully inserted chunk! It just took 13.8401 seconds
Successfully inserted chunk! It just took 13.8655 seconds
Successfully inserted chunk! It just took 13.7804 seconds

C:\Users\60129676\AppData\Local\Temp\ipykernel_17880\1651781654.py:3: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

Successfully inserted chunk! It just took 12.9515 seconds
Successfully inserted chunk! It just took 8.5399 seconds

StopIteration: